
<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="gbk" /> 
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="robots" content="all">
<meta name="author" content="Tencent-CP" />
<meta name="Copyright" content="Tencent" />
<meta name="Description" content="《LOST ARK》凭借其极致的战斗体验、CG级画面呈现备受玩家的期待和关注，成为最受期待的网游。" />
<meta name="Keywords" content="失落方舟,失落的方舟,LOST ARK,方舟,韩游,最期待网游,失落的方舟官网,lost ark官网,lost ark介绍,lost ark下载" />
<title>《Lost ARK》官方网站-腾讯游戏</title>
<link rel="stylesheet" href="//game.gtimg.cn/images/fz/web201812/css/main.css" />
<link rel="stylesheet" href="//game.gtimg.cn/images/fz/web201812/css/animate.min.css">
<script>
 // 适配移动端
if(/Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent)) {
    window.location.href = "//fz.qq.com/web201812/m/"+location.search;
}
</script>
</head>
<body>
<div class="wrapper" style="visibility: hidden;">
	<div class="top-box">
		<a href="//lostark.qq.com/" target="_blank" title="失落的方舟" class="lostark-logo" onclick="PTTSendClick('btn','lostark-logo','失落的方舟');"></a>
		<ul class="top-list">
			<li>
				<a href="javascript:void(0)" title="首页" onclick="PTTSendClick('btn','home','首页');">
					<span>首页</span>
					<em>HOME</em>
				</a>
				<i class="top-line"></i>
			</li>
			<li>
				<a href="javascript:void(0)" title="职业展示" onclick="PTTSendClick('btn','class','职业展示');">
					<span>职业展示</span>
					<em>CLASS</em>
				</a>
				<i class="top-line"></i>
			</li>
			<li>
				<a href="javascript:void(0)" title="壁纸欣赏" onclick="PTTSendClick('btn','wallpaper','壁纸欣赏');">
					<span>壁纸欣赏</span>
					<em>WALLPAPER</em>
				</a>
			</li>
		</ul>
	</div>
	<div class="la-wrap" id="la-wrap">
		<div class="swiper-wrapper main-box">
			<div class="swiper-slide page-box page-box1">
				<div class="response-ct">
					<div class="inner-box">
						<div class="i-stone">
							<i class="i-stone01 i-float"></i>
							<i class="i-stone02 i-float"></i>
							<i class="i-stone03 i-float"></i>
							<i class="i-stone04 i-float"></i>
							<i class="i-stone05 i-float"></i>
							<i class="i-stone06 i-float"></i>
							<i class="i-stone07 i-float"></i>
							<i class="i-stone08 i-float"></i>
							<i class="i-stone09 i-float"></i>
							<i class="i-stone10 i-float"></i>
						</div>
			             <h3 class="p1-title spr ani"  swiper-animate-effect="fadeInDown" swiper-animate-duration="1s" swiper-animate-delay="0.5s">FOR ALL RPG FANS</h3>
						<a href="javascript:loadVideo('z0848u1k4nm');" title="视频播放" class="video-play animated  ani"   swiper-animate-effect="fadeInDown" swiper-animate-duration="1s" swiper-animate-delay="0s"  onclick="PTTSendClick('btn','video-play','视频播放');">
							<img src="//game.gtimg.cn/images/fz/web201812/video-bg.jpg" width="239" height="115" alt=""  />
							<i class="p1-mask"></i>
							<i class="play-btn spr"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="swiper-slide page-box page-box2">
				<div class="response-ct">
					<ul class="role-types" id="role-types">
						<li class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="0s">
							<a href="javascript:void(0)" onclick="PTTSendClick('btn','warrior','勇士');">
								<img src="//game.gtimg.cn/images/fz/web201812/role01.jpg" width="480" height="1920" alt="勇士"   />
								<i class="p2-mask"></i>
								<i class="p2-badge r1-badge spr"></i>
								<i class="p2-line"></i>
								<i class="p2-role-name name-role1 spr ani" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.8s" swiper-animate-delay="0.1s"></i>
							</a>
						</li>
						<li class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s">
							<a href="javascript:void(0)" onclick="PTTSendClick('btn','fighter','战士');">
								<img src="//game.gtimg.cn/images/fz/web201812/role02.jpg" width="480" height="1920" alt="战士"    />
								<i class="p2-mask"></i>
								<i class="p2-badge r2-badge spr"></i>
								<i class="p2-line"></i>
								<i class="p2-role-name name-role2 spr ani" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.8s" swiper-animate-delay="0.4s"></i>
							</a>
						</li>
						<li class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="0.6s" >
							<a href="javascript:void(0)" onclick="PTTSendClick('btn','hunter','猎人');">
								<img src="//game.gtimg.cn/images/fz/web201812/role03.jpg" width="480" height="1920" alt="猎人"   />
								<i class="p2-mask"></i>
								<i class="p2-badge r3-badge spr"></i>
								<i class="p2-line"></i>
								<i class="p2-role-name name-role3 spr ani" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.8s" swiper-animate-delay="0.7s"></i>
							</a>
						</li>
						<li class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="0.9s">
							<a href="javascript:void(0)" onclick="PTTSendClick('btn','magician','魔术师');">
								<img src="//game.gtimg.cn/images/fz/web201812/role04.jpg" width="480" height="1920" alt="魔术师"   />
								<i class="p2-mask"></i>
								<i class="p2-badge r4-badge spr"></i>
								<i class="p2-line"></i>
								<i class="p2-role-name name-role4 spr ani" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.8s" swiper-animate-delay="1s"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="swiper-slide page-box page-box3">
				<div class="response-ct">
					<div class="wallpaper-wrap">
						<div class="wallpaper-list ani"  swiper-animate-effect="fadeInLeft" swiper-animate-duration="0.8s" swiper-animate-delay="0.8s">
							<div class="wallpaper-tab swiper-container">
								<ul class="swiper-wrapper">
									<li class="swiper-slide active">
										<img src="//game.gtimg.cn/images/fz/web201812/small-pic01.jpg" width="240" height="135" alt=""  />
										<i class="p3-mask"></i>
									</li>
									<li class="swiper-slide">
										<img src="//game.gtimg.cn/images/fz/web201812/small-pic02.jpg" width="240" height="135" alt=""  />
										<i class="p3-mask"></i>
									</li>
									<li class="swiper-slide">
										<img src="//game.gtimg.cn/images/fz/web201812/small-pic03.jpg" width="240" height="135" alt=""  />
										<i class="p3-mask"></i>
									</li>
									<li class="swiper-slide">
										<img src="//game.gtimg.cn/images/fz/web201812/small-pic04.jpg" width="240" height="135" alt=""  />
										<i class="p3-mask"></i>
									</li>
									<li class="swiper-slide">
										<img src="//game.gtimg.cn/images/fz/web201812/small-pic05.jpg" width="240" height="135" alt=""  />
										<i class="p3-mask"></i>
									</li>
									<li class="swiper-slide">
										<img src="//game.gtimg.cn/images/fz/web201812/small-pic06.jpg" width="240" height="135" alt=""  />
										<i class="p3-mask"></i>
									</li>
									<li class="swiper-slide">
										<img src="//game.gtimg.cn/images/fz/web201812/small-pic07.jpg" width="240" height="135" alt=""  />
										<i class="p3-mask"></i>
									</li>
									<li class="swiper-slide">
										<img src="//game.gtimg.cn/images/fz/web201812/small-pic08.jpg" width="240" height="135" alt=""  />
										<i class="p3-mask"></i>
									</li>
									<li class="swiper-slide">
										<img src="//game.gtimg.cn/images/fz/web201812/small-pic09.jpg" width="240" height="135" alt=""  />
										<i class="p3-mask"></i>
									</li>
									<li class="swiper-slide">
										<img src="//game.gtimg.cn/images/fz/web201812/small-pic10.jpg" width="240" height="135" alt=""  />
										<i class="p3-mask"></i>
									</li>
									<li class="swiper-slide">
										<img src="//game.gtimg.cn/images/fz/web201812/small-pic11.jpg" width="240" height="135" alt=""  />
										<i class="p3-mask"></i>
									</li>
								</ul>
								<a href="javascript:void(0)" title="上一个" class="p3-top" onclick="PTTSendClick('btn','p3-top','上一个');"><i class="p3-i-top spr"></i></a>
								<a href="javascript:void(0)" title="下一个" class="p3-bottom" onclick="PTTSendClick('btn','p3-bottom','下一个');"><i class="p3-i-bottom spr"></i></a>
							</div>
						</div>
						<div class="wallpaper-cont swiper-container ani"  swiper-animate-effect="pulse" swiper-animate-duration="0.8s" swiper-animate-delay="0s">
							<ul class="swiper-wrapper">
								<li class="swiper-slide">
									<img data-src="//game.gtimg.cn/images/fz/web201812/pic01.jpg" width="1920" height="1080" alt=""  />
									<a href="//game.gtimg.cn/images/fz/web201812/pic01_1920_1080.jpg" target="_blank" title="点击保存" class="p3-download spr"></a>
								</li>
								<li class="swiper-slide">
									<img data-src="//game.gtimg.cn/images/fz/web201812/pic02.jpg" width="1920" height="1080" alt=""  />
									<a href="//game.gtimg.cn/images/fz/web201812/pic02_1920_1080.jpg" target="_blank" title="点击保存" class="p3-download spr"></a>
								</li>
								<li class="swiper-slide">
									<img data-src="//game.gtimg.cn/images/fz/web201812/pic03.jpg" width="1920" height="1080" alt=""  />
									<a href="//game.gtimg.cn/images/fz/web201812/pic03_1920_1080.jpg" target="_blank" title="点击保存" class="p3-download spr"></a>
								</li>
								<li class="swiper-slide">
									<img data-src="//game.gtimg.cn/images/fz/web201812/pic04.jpg" width="1920" height="1080" alt=""  />
									<a href="//game.gtimg.cn/images/fz/web201812/pic04_1920_1080.jpg" target="_blank" title="点击保存" class="p3-download spr"></a>
								</li>
								<li class="swiper-slide">
									<img data-src="//game.gtimg.cn/images/fz/web201812/pic05.jpg" width="1920" height="1080" alt=""  />
									<a href="//game.gtimg.cn/images/fz/web201812/pic05_1920_1080.jpg" target="_blank" title="点击保存" class="p3-download spr"></a>
								</li>
								<li class="swiper-slide">
									<img data-src="//game.gtimg.cn/images/fz/web201812/pic06.jpg" width="1920" height="1080" alt=""  />
									<a href="//game.gtimg.cn/images/fz/web201812/pic06_1920_1080.jpg" target="_blank" title="点击保存" class="p3-download spr"></a>
								</li>
								<li class="swiper-slide">
									<img data-src="//game.gtimg.cn/images/fz/web201812/pic07.jpg" width="1920" height="1080" alt=""  />
									<a href="//game.gtimg.cn/images/fz/web201812/pic07_1920_1080.jpg" target="_blank" title="点击保存" class="p3-download spr"></a>
								</li>
								<li class="swiper-slide">
									<img data-src="//game.gtimg.cn/images/fz/web201812/pic08.jpg" width="1920" height="1080" alt=""  />
									<a href="//game.gtimg.cn/images/fz/web201812/pic08_1920_1080.jpg" target="_blank" title="点击保存" class="p3-download spr"></a>
								</li>
								<li class="swiper-slide">
									<img data-src="//game.gtimg.cn/images/fz/web201812/pic09.jpg" width="1920" height="1080" alt=""  />
									<a href="//game.gtimg.cn/images/fz/web201812/pic09_1920_1080.jpg" target="_blank" title="点击保存" class="p3-download spr"></a>
								</li>
								<li class="swiper-slide">
									<img data-src="//game.gtimg.cn/images/fz/web201812/pic10.jpg" width="1920" height="1080" alt=""  />
									<a href="//game.gtimg.cn/images/fz/web201812/pic10_1920_1080.jpg" target="_blank" title="点击保存" class="p3-download spr"></a>
								</li>
								<li class="swiper-slide">
									<img data-src="//game.gtimg.cn/images/fz/web201812/pic11.jpg" width="1920" height="1080" alt=""  />
									<a href="//game.gtimg.cn/images/fz/web201812/pic11_1920_1080.jpg" target="_blank" title="点击保存" class="p3-download spr"></a>
								</li>
							</ul>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<a href="javascript:void(0)" title="上一页" class="m-left spr" onclick="PTTSendClick('btn','m-left','上一页');"></a>
		<a href="javascript:void(0)" title="下一页" class="m-right spr" onclick="PTTSendClick('btn','m-right','下一页');"></a>
	</div>
	<div class="role-wrap" id="role-wrap" style="display:none;">
		<div class="la-role swiper-container" id="la-role"></div>
		<div class="animation_spark">
			<div class="i-spark01"><i></i></div>
			<div class="i-spark02"><i></i></div>
			<div class="i-spark03"><i></i></div>
			<div class="i-spark04"><i></i></div>
			<div class="i-spark05"><i></i></div>
			<div class="i-spark06"><i></i></div>
			<div class="i-spark07"><i></i></div>
			<div class="i-spark08"><i></i></div>
			<div class="i-spark09"><i></i></div>
			<div class="i-spark10"><i></i></div>
			<div class="i-spark11"><i></i></div>
			<div class="i-spark12"><i></i></div>
			<div class="i-spark13"><i></i></div>
			<div class="i-spark14"><i></i></div>
			<div class="i-spark15"><i></i></div>
			<div class="i-spark16"><i></i></div>
			<div class="i-spark17"><i></i></div>
			<div class="i-spark18"><i></i></div>
			<div class="i-spark19"><i></i></div>
			<div class="i-spark20"><i></i></div>
			
		</div>
		<i class="i-mask"></i>
		<i class="i-smoke"></i>
	</div>
</div>
<div id="gfooter" ams="125/35008/m128" dark="1" ieg-logo="1"  age="10">
    <a href="//ieg.tencent.com/" target="_blank" title="smilegate" class="foot_left logo-smilegate">smilegate</a>
    <p class="copyright_txt">Smilegate RPG, Inc. All rights reserved.</p>
</div>
<!--视频弹窗-->
<div id="video" class="popupbox" style="display:none">
	<div id="VideoContent">加载中...</div>
	<a href="javascript:hidDialogs();" class="pop-v-close" title="关闭"  onclick="PTTSendClick('btn','pop-v-close','关闭');"></a>
</div>

<script type="text/html" id="roleTemp">
		<div class="main-box swiper-wrapper">
			<div class="swiper-slide role-page">
				<div class="response-ct">
					<img src="//game.gtimg.cn/images/fz/web201812/{{type}}-name-{{name01}}.png" class="role-name {{type}}-name-{{name01}} ani" alt="" width="550" height="335"  swiper-animate-effect="fadeInLeft" swiper-animate-duration="0.8s" swiper-animate-delay="0.5s" />
					<img src="//game.gtimg.cn/images/fz/web201812/{{type}}-role-{{name01}}.png" class="role-hero {{type}}-role-{{name01}} ani" alt="" width="1675" height="996"  swiper-animate-effect="fadeInRight" swiper-animate-duration="0.5s" swiper-animate-delay="0s" />
				</div>
			</div>
			<div class="swiper-slide role-page">
				<div class="response-ct">
					<img src="//game.gtimg.cn/images/fz/web201812/{{type}}-name-{{name02}}.png" class="role-name {{type}}-name-{{name02}} ani" alt="" width="550" height="335"  swiper-animate-effect="fadeInLeft" swiper-animate-duration="0.8s" swiper-animate-delay="0.5s" />
					<img src="//game.gtimg.cn/images/fz/web201812/{{type}}-role-{{name02}}.png" class="role-hero {{type}}-role-{{name02}} ani" alt="" width="1675" height="996"  swiper-animate-effect="fadeInRight" swiper-animate-duration="0.5s" swiper-animate-delay="0s" />
				</div>
			</div>
			<div class="swiper-slide role-page">
				<div class="response-ct">
					<img src="//game.gtimg.cn/images/fz/web201812/{{type}}-name-{{name03}}.png" class="role-name {{type}}-name-{{name03}} ani" alt="" width="550" height="335"  swiper-animate-effect="fadeInLeft" swiper-animate-duration="0.8s" swiper-animate-delay="0.5s" />
					<img src="//game.gtimg.cn/images/fz/web201812/{{type}}-role-{{name03}}.png" class="role-hero {{type}}-role-{{name03}} ani" alt="" width="1675" height="996"  swiper-animate-effect="fadeInRight" swiper-animate-duration="0.5s" swiper-animate-delay="0s" />
				</div>
			</div>
		</div>
		<a href="javascript:void(0)" title="上一页" class="m-left spr" onclick="PTTSendClick('btn','m-left','上一页');"></a>
	    <a href="javascript:void(0)" title="下一页" class="m-right spr" onclick="PTTSendClick('btn','m-right','下一页');"></a>
		<div class="role-tab">
			<a href="javascript:void(0)" title="" class="active">
				<em class="{{type}}-{{name01}} role-spr"></em>
				<i class="i-diamond role-spr"></i>
			</a>
			<a href="javascript:void(0)" title="">
				<em class="{{type}}-{{name02}} role-spr"></em>
				<i class="i-diamond role-spr"></i>
			</a>
			<a href="javascript:void(0)" title="">
				<em class="{{type}}-{{name03}} role-spr"></em>
				<i class="i-diamond role-spr"></i>
			</a>
			<i class="i-line role-spr"></i>
		</div>
</script>
<script src="//ossweb-img.qq.com/images/js/swiper2_component/swiper2.min.js"></script> 
<script src="//ossweb-img.qq.com/images/js/jquery/jquery-1.9.1.min.js"></script>
<script src="//ossweb-img.qq.com/images/js/title.js"></script>
<script src="//game.gtimg.cn/images/js/2018foot/foot.js"></script>
<script src="//game.gtimg.cn/images/fz/web201812/js/swiper.animate1.0.3.min.js"></script>
<script src="//ossweb-img.qq.com/images/js/milo_bundle/milo.js"></script>
<script src="//vm.gtimg.cn/tencentvideo/txp/js/txplayer.js"></script>
<script src="//ossweb-img.qq.com/images/js/ArtTemplate.js"></script>
<script src="//game.gtimg.cn/images/fz/web201812/js/index.js"></script>
<script src="//ossweb-img.qq.com/images/js/PTT/ping_tcss_tgideas_https_min.js"></script>
<script>
 //此段代码不能放到外链JS中，
 var setSite = { //设置网站属性
 siteType: "os", //必填项:"os"代表是官网，如果不是，则填写actName例如a20160701xxx
 pageType: "index", //必填项:本页面的定位；按照页面含义填写例如main||list||detail||download||share||page1||pageN
 pageName: "首页", //必填项:页面中文名
 osact: 0, //选填项:是否是官网专题(在官网运营的专题)boolean；默认是0；可以在链接上加入参数osact=1来灵活设置
 ingame: 0, //选填项:是否投放在游戏APP内boolean；默认是0；可以在链接上加入参数ingame=1来灵活设置
 stayTime: 0 //选填项:是否需要统计停留时长boolean；默认是0
 }
 if (typeof (pgvMain) == 'function') pgvMain();//千万不能忘记！
</script>
</body>
</html>
