<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人博客-首页</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <!-- <div id="header"></div> -->
    <header>
        <nav>
        <h1><a href="#">个人博客</a></h1>
        <ul>
            <li><a href="#">网站首页</a></li>
            <li><a href="#">文章列表</a></li>
            <li><a href="#">我的相册</a></li>
            <li><a href="#">留言</a></li>
            <li><a href="#">关于我</a></li>
            <li><a href="#">发表博客</a></li>
        </ul>
        <div>
        <a href="#" id="login">登录</a>
        <a href="#" id="register">注册</a>
        </div>
        </nav>
    </header>
    <!-- <div id="content"></div> -->
    <main>
        <div class="banner">
            <ul class="fader">
                <li class="slide">
                    <a href="#"><img src="../static/images/banner01.jpg" alt=""></a>
                    <div class="imginfoo">爬虫微课5小时Python学习路线!</div>                    
                </li>
                <div class="fader_controls">
                    <!-- 左右箭头 -->
                    <div class="prev">&lsaquo;</div>
                    <div class="next">&rsaquo;</div>
                    <!-- 轮播图页标 -->
                    <ul class="pager_list">
                        <li></li>
                    </ul>
                </div>
            </ul>
        </div>
        <ul class="toppic">
            <li>
                <a href="#"><i><img src="../static/images/toppic01.jpg" alt=""></i></a>
                <div>linux升级py3,安装pip,svn</div>
                <span>linux</span>
            </li>
            <li>
                <a href="#"><i><img src="../static/images/toppic02.jpg" alt=""></i></a>
                <div>精通Python编程——python深入浅出教程</div>
                <span>python</span>
            </li>
        </ul>
    </main>
    <!-- <div id="footer"></div> -->
    <footer></footer>
</body>
</html>